:root {
    --background: rgba(255, 255, 255, 1);
    --greyscale-500: rgba(140, 140, 140, 1);
    --primarydodger-blue: rgba(45, 132, 251, 1);
    --greyscale-0: rgba(255, 255, 255, 1);
    --greyscale-700: rgba(31, 31, 31, 1);
    --primaryoxford-blue: rgba(47, 60, 78, 1);
    --greyscale-300: rgba(217, 217, 217, 1);
  }
  