body{
    font-family: 'Poppins';
}

.container{
    display: flex;
    border: 10px solid black;
    height: 896px;
    width: 414px;
    flex-direction: column;
    justify-content: space-between;

}

.box{ 
    font-size: 3em;
    text-align: center;
}
#box1{
    align-self: center;
}
#box2{
    align-self: center;
}
#box3{

    align-self: center;
}
#box4{
    background-color: rgb(0, 229, 255);
    align-self: center;
}

.top-header{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header{
    margin-top: 30px;
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    width: 349px;
    
}

.header-max{
    display: flex;
    flex-direction: column;

    align-items: start;
}

.left-side{
    margin-left: 10px;
    display: flex;
    flex-direction: row;

}

.round-profile-picture{
    background-color: #D3EEFE;
    border-radius: 150px;
    display: flex;
    padding: 0px 27px;

}

.user-text{
    margin-left: 10px;

    font-size: larger;
    margin-bottom: 5px;

}

.hello-user{
    display: flex;
    margin-bottom: 5px;
    font-size: 12px;

}

.ajuda{
    color: gray;
    font-size: 10px;
    margin-top: 5px;
}


.initial {
    font-size: 15px;
    color: #2D84FB;
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.right-side{
    display: flex;
    margin-right: 10px  ;
    
}

.bell{
    width: 27px;
}

.text-middle-part{
    display: flex;
    font-size: 25px;
    font-weight: bold;
}

.div-buttons{
    display: flex;
    flex-direction: column;
    height: 220px;
    justify-content: space-evenly;

}
.buttons{
    height: 55px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #ffff;
    color: gray;
    font-size: large;

}

.new-tab{
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    padding: 20px 20px;

}
.noticia{
    font-size: 13px;
}

.news-img{
    width: 150px;
    border-radius: 10px;
    margin-left: 25px;
}